
@font-face {
  font-family: yofont;
  src: url("/beautifulEssay/iconfont/iconfont.woff") format("woff"), url("/beautifulEssay/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/beautifulEssay/iconfont/iconfont-1.woff") format("woff"), url("/beautifulEssay/iconfont/iconfont-1.ttf") format("truetype");
}
